<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="/springweb/a00_com/vue.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var model = {prod:"",price:"",cnt:""}
		var vm = new Vue({
			el:".container",
			data:model
		})
		// a07_biDirective.html
		// form 하위에 물건명 가격 갯수를 입력한 내용을
		// 테이블에 출력되게 하세요..
	});
</script>
</head>
<body>

<div class="container">
	<div class="jumbotron text-center">
	  <h2 ></h2>
	</div>
	<form id="frm01" class="form-inline"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input v-model="prod" class="form-control mr-sm-2" placeholder="물건명" />
	    <input v-model="price" class="form-control mr-sm-2" placeholder="가격" />
	    <input v-model="cnt" class="form-control mr-sm-2" placeholder="갯수" />
	    <button class="btn btn-info" type="submit">Search</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="10%">
   	<col width="50%">
   	<col width="15%">
   	<col width="15%">
   	<col width="10%">
    <thead>
    
      <tr class="table-success text-center">
        <th>물건명</th>
        <th>가격</th>
        <th>갯수</th>
        <th>합계</th>
      </tr>
    </thead>	
    <tbody>
    	<tr>
    		<td>물건명:{{prod}}</td>
    		<td>가격:{{price}}</td>
    		<td>갯수:{{cnt}}</td>
    		<td>합계:{{price*cnt}}</td>
    	</tr>
    </tbody>
	</table>       
</div>
</body>
</html>