<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="/springweb/a00_com/vue.js"></script>
<script type="text/javascript">
/*
# vue에서 클래스 처리
1. 일반 css에서 클래스 적용과 비교
	1) css 
		.클래스명{속성:속성값}
		<태그 class="클래스명1 클래스명2"
	2) vue
		<태그 class="{클래스명1:true, 클래스명2:true}"
		위 선언된 클래스를 v-bind:class="{클래스명:true}"
		형태로 true/false로 적용 여부를 설정하여 model에서
		선언하면 위 내용을 이벤트핸들러에 의해 변경하여 적용할 수 있게한다.
 */
	$(document).ready(function(){
		var vm = new Vue({
			el:".container",
			data:{msg:"클래스 처리", ck01:"",ck02:"",
					ck1:"",	
					ck2:"",	
					ck3:""
			}
		})
	});
</script>
</head>
<body>
<style>
	.cls01{color:red;}
	.cls02{background-color:yellow;}
	
</style>
<div class="container">
	<div class="jumbotron text-center">
	  <h2 >{{msg}}</h2>
	  <h3 class="cls01 cls02">일반 css 클래스 처리</h3>
	  <h3 :class="{cls01:true,cls02:true}">vue에서 css 클래스 처리</h3>
	  <h3 :class="{cls01:true,cls02:false}">vue에서 css 클래스 처리</h3>
	  <h3 :class="{cls01:ck01,cls02:ck02}">vue에서 css 클래스 처리(v-model로 연동)</h3>
	글자색상:<select v-model="ck01">
					<option value="true">적용</option>
					<option value="">미적용</option>
				</select><br>
	배경색상:<select v-model="ck02">
					<option value="true">적용</option>
					<option value="">미적용</option>
				</select><br>
	<!--  date:{msg:"클래스 처리", ck01:"", ck02:""} -->	
	<!-- ex) 클래스1 보더굵기/색상/타입 -->		
	<!-- ex) 클래스2 보더굵기/색상/타입 글자크기 -->		
	<!-- ex) 클래스3 보더굵기/색상/타입 글자색상 -->		
	<!-- 위 select 옵션으로 클래스1, 클래스2, 클래스3 적용유무로
		선택하여 처리하게 하세요. -->
<style>
	.cls1{border:solid 1px;}
	.cls2{border-color:red;font-size:20px;}
	.cls3{border-width:5px;color:red;}
</style>
	  <h3 :class="{cls1:ck1}">테두리 적용 cls1 예제</h3>
	  <h3 :class="{cls2:ck2}">테두리 적용 cls2 예제</h3>
	  <h3 :class="{cls3:ck3}">테두리 적용 cls3 예제</h3>
	태두리스타일:<select v-model="ck1">
					<option value="true">적용</option>
					<option value="">미적용</option>
				</select><br>
	테두리색상:<select v-model="ck2">
					<option value="true">적용</option>
					<option value="">미적용</option>
				</select><br>
	테두리굵기:<select v-model="ck3">
					<option value="true">적용</option>
					<option value="">미적용</option>
				</select><br>
		
	
	</div>
	<form id="frm01" class="form-inline"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input class="form-control mr-sm-2" placeholder="제목" />
	    <input class="form-control mr-sm-2" placeholder="내용" />
	    <button class="btn btn-info" type="submit">Search</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="10%">
   	<col width="50%">
   	<col width="15%">
   	<col width="15%">
   	<col width="10%">
    <thead>
    
      <tr class="table-success text-center">
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회</th>
      </tr>
    </thead>	
    <tbody>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
	</table>       
</div>
</body>
</html>